.resource-card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 2px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  background-color: #e8d4cd;
  margin-top: 15px;
}

.resource-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.resource-card a {
  text-decoration: none;
}

.resource-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "josfin sans", sans-serif;
  font-size: 12px;
  margin-right: 10px;
  width: 100%;
}

.resource-info h3,
.resource-info h4,
.resource-info p {
  margin: 0.25rem 0;
}

.resource-info h3 {
  font-size: 8px;
  font-style: italic;
  font-weight: 100;
  align-self: flex-end;
}

.resource-info p {
  font-size: 8px;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.resource-info p b {
  font-size: 12px;
  display: inline;
}

.resource-image {
  max-width: 100px;
}

.description {
  text-align: left;
}
