div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-b {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #E8D4CD;
    opacity: 0.8;
    border: 2px solid black;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 11px;
    border-radius: 50%;
    font-weight: bold; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 7.3);
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }

  .nav-b:hover {
    cursor: pointer;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "josefin sans", sans-serif;
    font-size: 14px;
    margin-bottom: 30px;
  }
  
  h1 img {
    max-width: 300px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
  }
 
  p {
    display: flex;
    font-size: 13px;
    font-family: "josefin sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 1.5;
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }

  h2{
    display: flex;
    font-size: 13px;
    font-family: "josefin sans", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 1.5;
    max-width: 300px;
    justify-content: center;
    align-items: center;
  }
 