.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    color: white;
    height: 70px;
  }
  
  .nav-button {
    background-color:  #fff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .nav-button:hover {
    background-color:  #fff;
    cursor: pointer;
  }

  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px; /* add margin as needed */
  }
  
  .nav-icon {
    font-size: 24px; /* adjust font-size as needed */
    margin-left: 20px; /* add margin as needed */
  }

  .nav-logo {
    height: 40px; /* adjust height as needed */
    margin-right: 20px; /* add margin as needed */
  }

  .nav-left {
    display: flex;
    align-items: center;
    margin-left: 20px; /* add margin as needed */
  }