
.nav-logo {
  height: 40px; /* adjust height as needed */
  margin-right: 20px; /* add margin as needed */
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    color: white;
    height: 70px;
  }
  
  .nav-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px; /* add margin as needed */
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    margin-left: 20px; /* add margin as needed */
  }

  .nav-icon {
    font-size: 24px; /* adjust font-size as needed */
    margin-left: 20px; /* add margin as needed */
    width: 24px; /* add a fixed width */
    height: 24px; /* add a fixed height */
    transition: transform 0.2s ease; /* add a transition effect */
  }
  
  .nav-icon:hover {
    transform: scale(1.2); /* scale the icon when hovered over */
  }