.nav-logo {
  height: 35px; /* adjust height as needed */
  margin-right: 50px; /* add margin as needed */
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #e8d4cd;
  height: 20px;
  padding: 15px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px; /* add margin as needed */
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 30px; /* add margin as needed */
}

.nav-icon {
  font-size: 22px; /* adjust font-size as needed */
  margin-left: 10px; /* add margin as needed */
  width: 22px; /* add a fixed width */
  height: 22px; /* add a fixed height */
}

.nav-icon:hover {
  transform: scale(1.2); /* scale the icon when hovered over */
}

.nav-bar-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #e8d4cd9f;
  height: 10px;
  width: 260px;
}
