.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "josefin sans", sans-serif;
  margin-top: 15px;
}

.arrow-image {
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 43%;
  transform: translate(-50%, -90%);
  background-color: rgba(255, 255, 255, 0.5); /* Add background color to make text more visible */
  padding: 5px;
}

.social-media-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 5%;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-direction: row;
  height: 40px;
}

.click-for-contribution-button {
  background-color: rgb(216, 179, 216);
  font-family: 'josefin sans', sans-serif;
  border: none;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 7.3);
}


