.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "josefin sans", sans-serif;
  margin-top: 15px;
}

.arrow-image {
  width: 250px;
  position: relative;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -30%);
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -45%);
}

.social-media-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 5%;
  width: 250px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-direction: row;
  height: 40px;
}

.click-for-contribution-button {
  background-color: rgb(216, 179, 216);
  font-family: 'josefin sans', sans-serif;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  width: 250px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 7.3);
}
