.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

h2 {
  font-family: "josefin sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(189, 158, 189);
}

p {
  font-size: 13px;
  font-family: "josefin sans", sans-serif;
  max-width: 250px;
}
.arrow-image {
  width: 130px;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.social-media-icons-container {
  border: 3px solid black;
  border-radius: 7%;
  width: 200px;
  height: 100px;
}

.social-media-icons-container p {
  font-family: "josfin sans", sans-serif;
  font-size: 11px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  height: 40px;
}

.facebook-link img,
.instagram-link img,
.linkedin-link img {
  width: 30px;
  height: 30px;
}

.click-for-contribution-button {
  background-color: rgb(216, 179, 216);
  font-family: "josefin sans", sans-serif;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  width: 210px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 7.3);
  margin-top: 20px;
}
